# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
bin/
out/

.DS_Store
Thumbs.db
.idea
*.key
*.pem

# Env
.env*

#Robot Framework reporting files
log.html
output.xml
report.html

.python-version
.venv
.vscode
!.vscode/launch.json

# ignore deployment secret files
*/**/secrets.yaml

# ignore local s3 env files
deployments/dockerfiles/minio/config
deployments/dockerfiles/minio/data

# for credential information
.cred/
